body {

	font-size: 40px;

}

.name {

	font-family: 'La Belle Aurore';
	text-align: center;
	font-size: 120px;
	padding-bottom: 20px;
}

.wrapper {


margin: 0 auto;
width: 700px; 
padding: 30px;
max-width: 90%;

}

.wrapper img {

	width: 500px;
}

.julianne {

	font-family: Georgia;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
}

.andy {

	font-family: Courier;
	font-size: 40px;
	font-style: italic;

}