body {

	font-size: 40px;
	margin:0;
	padding:0;

}

	.nav {
		border-bottom: 1px solid #dddddd;
		background: #a30909;
		position:fixed;
		width:100%;
		z-index: 10;
		padding-top:10px;
		padding-bottom: 4px;
		text-align: center;
		font-weight: 600;
		font-family: 'Open Sans';
		font-size: 15px;
		letter-spacing: 4px;
		color: #ffffff;


	}
.nav index.html {

		color: #ffffff;
		letter-spacing: 6px;

}

.name {

	
padding-top:110px;
	font-family: 'La Belle Aurore';
	text-align: center;
	font-size: 120px;
	
}
.tagline {

	position:absolute;
	top:310px;
	left:50%;
	margin-left:-10px;

font-weight: 400;
font-size: 14px;
letter-spacing: 8px;

padding-bottom: 20px;
text-transform: uppercase;
}

.juliannephoto {

	text-align: center;
}

.content {

	width:600px;
	font-family: 'Open Sans';
	margin: 0 auto;
	font-size: 15px;

}

.anchor-offset {
	padding-top: 80px;
}

.header {

	font-weight: 800;
	font-size: 16px;
	letter-spacing: 0px;
	color: #a30909;
	padding-bottom: 10px;
		margin-top: 30px;

}
.about {
	
	padding-bottom: 10px;
}

.position {

	font-size: 16px;
	font-weight: 600;

}

.wrapper {

margin: 0 auto;
width: 1100px; 
padding: 30px;
max-width: 90%;

}

ul {padding-bottom: 20px;}

