body {

	font-size: 40px;

}

.name {

	font-family: 'La Belle Aurore';
	text-align: center;
	font-size: 120px;
	
}
.tagline {

font-weight: 400;
font-size: 20px;
letter-spacing: 4px;
text-align: center;
padding-bottom: 20px;
text-transform: uppercase;
}

.content {

	width:550px;
	font-family: 'Open Sans';
	margin: 0 auto;
	font-size: 15px;

}

.header {

	font-weight: 800;
	font-size: 16px;
	letter-spacing: 0px;

}



.wrapper {

margin: 0 auto;
width: 1100px; 
padding: 30px;
max-width: 90%;

}

.wrapper img {

	width: 500px;
}

.julianne {

	font-family: Georgia;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
}

.andy {

	font-family: Courier;
	font-size: 40px;
	font-style: italic;

}